# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Backup files:
*_bak
*_old

# Compressed files:
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Secret key file:
secret.py

# Dummy emails:
dummy_emails/
